<div class="widgetname">
    <form>
        <!--<input type="text" data-dojo-attach-point="reverse">
        <input type="button" data-dojo-attach-event="onClick: reversefunction" value="Reverse">-->
        <div class="input-group" data-dojo-attach-point="inputNodes">
            <div class="input-group-addon"> <input type="text" class="form-control" data-dojo-attach-point=""> </div>
            <!--<div class="input-group-addon"><input type="button" data-dojo-attach-event="onClick: reversefunction" value="Reverse" />-->
        </div>
    </form> 
    <div data-dojo-attach-point="reverse" />
</div>
