<div class="widgetname">
    <form>
        <!--<input type="text" data-dojo-attach-point="reverse">
        <input type="button"  data-dojo-attach-event="onClick: reversefunction" value="Reverse">-->
        <div class="input-group" data-dojo-attach-point="inputNodes">
            <input type="text" class="form-control" data-dojo-attach-point="saveObj">
            <input type="button" value="Save" data-dojo-attach-event= "onClick: CreateObj">
        </div>
    </form> 
    <div data-dojo-attach-point="reverse" />
</div>
